<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Developer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />	
</head>
<body>
	<h1>Add course</h1>
	<form th:action="@{/user/{id}/gigs(id=${user.id})}" method="get" enctype="multipart/form-data" >
	<div class="col-md-4">
		<div class="panel panel-default">
		 <div class="panel-heading">User info</div>
		 <div class="panel-body" style="padding-left: 5px;">
			Name: <b th:text="${user.username}" /><br/>
			Email: <span th:text="${user.email}" /><br/>
			
			<br/>Courses:
				<span th:each="gig : ${user.gigs}">
					<br/>&nbsp;&nbsp;<span th:text="${gig.title}" />
				</span>
				<br/>
				</div>
		</div>	
			<div class="col-md-6">
			<select class="form-control" name="id">
				<option th:each="gig : ${gigss}" 
					th:value="${gig.id}" 
					th:text="${gig.title}">Gig</option>
			</select>
			</div>
			<input type="submit" class="btn btn-success" value="Add course"/>
	</div>
	</form>
</body>
</html>